doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
  body
    h1 USER-APP
    if (!user || id)
        form#register(action='/register', method='post')
            fieldset(form='register')
                legend New user
                label(for='name') Name
                input#name(type='text', name='name')
                label(for='surname') Surname
                input#surname(type='text', name='surname')
                label(for='email') E-mail
                input#email(type='text', name='email')
                br
                label(for='username') Username
                input#username(type='text', name='username')
                label(for='password') Password
                input(type='password', name='password')
                input(type='submit', value='Register')
    else
        form#register(action='/register', method='post')
            fieldset(form='register')
                legend New user
                label(for='name') Name
                input#name(type='text', name='name', value=user.name)
                label(for='surname') Surname
                input#surname(type='text', name='surname', value=user.surname)
                label(for='email') E-mail
                input#email(type='text', name='email', value=user.email)
                br
                label(for='username') Username
                input#username(type='text', name='username', value=user.username)
                label(for='password') Password
                input(type='password', name='password')
                input(type='submit', value='Register')
    if (!id && error)
        h3(style='color: red')
            | #{error}
    if (users.length)
        h2 USERS
        ul
            each _user in users
                - const { name, surname, email, username } = _user
                if (_user.id !== id)
                    li
                        form(action=`/edit/${_user.id}`, method='get')
                            | #{name} #{surname} #{email} [#{username}]
                            |
                            input(type='submit', value='Edit')
                else if(!user)
                    li
                        form#edit(action=`/save/${_user.id}`, method='post')
                            fieldset(form='edit')
                                legend Edit
                                label(for='edit-name') Name
                                input#edit-name(type='text', name='name', value=name)
                                label(for='edit-surname') Surname
                                input#edit-surname(type='text', name='surname', value=surname)
                                label(for='edit-email') E-mail
                                input#edit-email(type='text', name='email', value=email)
                                br
                                label(for='edit-newUsername') New username
                                input#edit-newUsername(type='text', name='newUsername', value=username)
                                label(for='edit-newPassword') New password
                                input#edit-newPassword(type='password', name='newPassword')
                                br
                                label(for='edit-username') Current username
                                input#edit-username(type='text', name='username', value=username)
                                label(for='edit-password') Current password
                                input#edit-password(type='password', name='password')
                                input(type='submit', value='Save')
                else
                    - const { name, surname, email, username, newUsername } = user
                    li
                        form#edit(action=`/save/${_user.id}`, method='post')
                            fieldset(form='edit')
                                legend Edit
                                label(for='edit-name') Name
                                input#edit-name(type='text', name='name', value=name)
                                label(for='edit-surname') Surname
                                input#edit-surname(type='text', name='surname', value=surname)
                                label(for='edit-email') E-mail
                                input#edit-email(type='text', name='email', value=email)
                                br
                                label(for='edit-newUsername') New username
                                input#edit-newUsername(type='text', name='newUsername', value=newUsername)
                                label(for='edit-newPassword') New password
                                input#edit-newPassword(type='password', name='newPassword')
                                br
                                label(for='edit-username') Current username
                                input#edit-username(type='text', name='username', value=username)
                                label(for='edit-password') Current password
                                input#edit-password(type='password', name='password')
                                input(type='submit', value='Save')
                            h3(style='color: red')
                                | #{error}
